body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-name {
  text-align:left;
  background-color: rgb(234, 234, 238);
  padding: 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #1688bd;
}

.form-class {
  background-color: #66bfbf;
  padding-top: 10px;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
